@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

.slick-slide
{
  text-align: center;
  font-size: 1.1em;
  outline: 0;
}

.slick-list {
  margin: 0px;
}

.slick-arrow
{
  position: absolute;
  top: 30%;
  cursor: pointer;
  z-index: 10;
}

.slick-prev
{
  left: 0px;
}

.slick-next
{
  right: 0px;
}


.slick-dots
{
   list-style: none;
   text-align: center;
   position: absolute;
   width: 100%;
    margin: auto;
    bottom: 32px;
}

.slick-dots li
{
    display: inline-block;
}

.slick-slider .sppb-btn
{
 padding: 6px 12px;
 opacity: 0.4;
}


.slick-slider .sppb-btn-link
{
 background: #000;
 color: #fff;    
}

.slick-slider .sppb-btn:hover
{
    opacity: 0.8
}

.faIndic:before {
    content: "\f10c";
}

.slick-active .faIndic:before {
    content: "\f111"!important;
}

.slick-slide img
{
  max-width: 100%;
}
